<nav class="navbar justify-content-center">
  <ul class="navbar-nav flex-row">
    <li routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="nav-item mr-1 mr-md-2 mr-lg-3 mr-xl-5">
      <a routerLink="/" class="nav-link">Web Design</a>
    </li>
    <li routerLinkActive="active" class="nav-item mr-1 mr-md-2 mr-lg-3 mr-xl-5">
      <a routerLink="animation" class="nav-link">Animation</a>
    </li>
    <li routerLinkActive="active" class="nav-item mr-1 mr-md-2 mr-lg-3 mr-xl-5">
      <a routerLink="photo" class="nav-link">Photo</a>
    </li>
    <li routerLinkActive="active" class="nav-item mr-1 mr-md-2 mr-lg-3 mr-xl-5">
      <a routerLink="technical-skills" class="nav-link">Technical Skills</a>
    </li>
    <li routerLinkActive="active" class="nav-item mr-1 mr-md-2 mr-lg-3 mr-xl-5">
      <a routerLink="experience" class="nav-link">Experience</a>
    </li>
    <li routerLinkActive="active" class="nav-item mr-1 mr-md-2 mr-lg-3 mr-xl-5">
      <a routerLink="contact" class="nav-link">Contact</a>
    </li>
  </ul>
</nav>
