<section class="d-flex justify-content-md-between justify-content-sm-start align-items-center header-section">
  <h1>
    photo
  </h1>

  <div class="d-flex justify-content-md-between justify-content-sm-start pagination-container mt-sm-2 mt-md-0">
    <div class="d-flex pt-md-2 radio-container ">

      <div class="custom-control custom-radio mt-sm-3 mt-md-0">
        <input type="radio"
               class="custom-control-input"
               id="horizontalRadio"
               name="radio-in-line"
               checked>
        <label (click)="displayFormat('best')"
               class="custom-control-label"
               for="horizontalRadio">
          Horizontal
        </label>
      </div>

      <div class="custom-control custom-radio">
        <input type="radio"
               class="custom-control-input"
               id="verticalRadio"
               name="radio-in-line">
        <label (click)="displayFormat('bestv')"
               class="custom-control-label"
               for="verticalRadio">
          Vertical
        </label>
      </div>
    </div>

    <div *ngIf="numberOfPagesObservable | async as numberOfPage"
         class="d-flex pages-number-container">
        <button *ngFor="let page of numberOfPage"
                (click)="displayPhotos(page)"
                type="button"
                class="btn btn-light ml-2 mb-sm-2"
                [ngClass]="{'active-button': page === pageToDisplay}">
          {{page}}
        </button>
    </div>

  </div>
</section>

<section *ngIf="photosObservable | async as photoList; else loading"
         [ngClass]="(orientationTag === 'best') ? 'horizontal':'vertical'"
         class="d-flex flex-wrap photos-container">
  <div *ngFor="let photo of photoList; let i = index"
       (click)="openCarousel(i)">
    <img src="{{photo.url}}" alt="{{photo.title}}" title="{{photo.title}}">
  </div>
</section>

<section *ngIf="isCarouselVisible && photosCarouselObservable | async"
         class="carousel-container"
         [ngClass]="{'fade-out': isCarouselHidden}">
  <ui-carousel [infinite]="true"
               [autoPlay]="false"
               [autoPlaySpeed]="5000"
               [fade]="false"
               [speed]="740"
               [dots] = "false">

    <ui-carousel-item *ngFor="let photo of carouselArray;">
      <img [ui-lazy-load]="photo.url"
           draggable="false">
    </ui-carousel-item>
  </ui-carousel>

  <button type="button"
          class="btn close-carousel"
          (click)="closeCarousel()">
    X
  </button>
</section>

<ng-template #loading>

  <div *ngIf="errorGetPhotos === 'noError' || errorGetPhotos === undefined; else errorMessage"
       class="d-flex align-items-center">
    <div class="loader"></div>
    <p>LOADING PHOTOS FROM Flickr</p>
  </div>
  <ng-template #errorMessage>
    <div class="card justify-content-start align-items-center flex-row p-2">
      <img src="../../assets/img/warning.svg" class="warning mx-2">
      <p class="mr-2">
        <span>SOMETHING WENT WRONG: </span><span>{{errorGetPhotos}}</span>
      </p>
    </div>
  </ng-template>

</ng-template>
