<section class="d-flex justify-content-between align-items-center header-section">
  <h1>
    photo
  </h1>

  <div class="d-flex justify-content-end pagination-container">
    <div class="d-flex radio-container">

      <div class="custom-control custom-radio">
        <input type="radio"
               class="custom-control-input"
               id="horizontalRadio"
               name="radio-in-line"
               checked>
        <label (click)="displayFormat('best')"
               class="custom-control-label"
               for="horizontalRadio">
          Horizontal
        </label>
      </div>

      <div class="custom-control custom-radio">
        <input type="radio"
               class="custom-control-input"
               id="verticalRadio"
               name="radio-in-line">
        <label (click)="displayFormat('bestv')"
               class="custom-control-label"
               for="verticalRadio">
          Vertical
        </label>
      </div>
    </div>

    <div class="pages-number-container">
      <div *ngIf="numberOfPagesObservable | async as numberOfPage"
           class="d-flex">
        <button *ngFor="let page of numberOfPage"
                (click)="displayPhotos(page)"
                type="button"
                class="btn btn-light ml-2"
                [ngClass]="{'active-button': page === pageToDisplay}">
          {{page}}
        </button>
      </div>
    </div>

  </div>
</section>

<section *ngIf="photosObservable | async as photoList; else loading"
         [ngClass]="(tags === 'best') ? 'horizontal':'vertical'"
         class="d-flex flex-wrap photos-container">
  <div *ngFor="let photo of photoList;">
    <img src="{{photo.url}}" alt="{{photo.title}}" title="{{photo.title}}">
  </div>
</section>

<ng-template #loading>
  <div [ngSwitch]="errorGetPhotos" class="d-flex justify-content-start">

    <div *ngSwitchCase="'noError'" class="d-flex align-items-center">
      <div class="loader"></div>
      <p>LOADING PHOTOS FROM Flickr</p>
    </div>

    <div *ngSwitchCase="'network'"
         class="card justify-content-start align-items-center flex-row p-2">
      <img src="../../assets/img/warning.svg" class="warning mx-2">
      <p class="mr-2">
        SOMETHING WENT WRONG WITH THE NETWORK :(
      </p>
    </div>

    <div *ngSwitchCase="'server'"
         class="card justify-content-start align-items-center flex-row p-2">
      <img src="../../assets/img/warning.svg" class="warning mx-2">
      <p class="mr-2">
        SOMETHING WENT WRONG WITH THE SERVER :(
      </p>
    </div>

  </div>
</ng-template>
