@import "../../../scss/variables";

h1 {
  text-transform: uppercase;
  font-size: 2.7rem;
  font-weight: 200;
  padding: 1.38rem 0 0 0;
}

section:nth-of-type(2) {
  margin: 1.25rem 0 0.75rem;
}

.row-contact {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 0 1.6rem;

  &.invalid-field {
    margin: 0 0 1.725rem;

    input,
    textarea {
      border: 0.063rem solid $red;
    }

    p {
      visibility: visible;
    }
  }

  &.email-container,
  &.comment-container {
    p {
      visibility: visible;

      &.focus-hidden {
        visibility: hidden;
      }
    }
  }

  label {
    color: var(--error-card-msg);
    margin: 0 0 0.19rem;
  }

  input,
  textarea {
    background-color: var(--bg-input);
    border: 0.063rem solid var(--border-input);
    color: var(--error-card-msg);
    outline: none;
    padding: 0.13rem 0.38rem;
    min-width: 16rem;
  }

  textarea {
    width: 50%;
  }

  .img-valid {
    width: 1.063rem;
    height: 0.875rem;
    margin: 0 0 0 0.4rem;
  }

  p {
    position: absolute;
    left: 0;
    bottom: -1.12rem;
    font-size: 0.75rem;
    visibility: hidden;
    color: $red;
  }

  button.btn-light {
    background-color: var(--zircon-blue);
    border-color: var(--fiord-blue-1800);
    color: var(--error-card-msg);

    &:hover {
      background-color: var(--drop-down-bg);
      border-color: var(--fiord-blue-1100);
    }

    &:disabled {
      border-color: var(--btn-disabled-border);
      color: var(--btn-disabled-border);

      &:hover {
        background-color: var(--zircon-blue);
        border-color: var(--btn-disabled-border);
        color: var(--btn-disabled-border);
      }
    }
  }

  span.confirmation {
    color: var(--woodsmoke-grey);
    margin: 0 0 0 0.5rem;
  }
}
