<nav class="navbar navbar-expand-md navbar-dark bg-darker">
  <a routerLink="/" class="navbar-brand">
    <img src="../../assets/img/logo.png">
  </a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
        <a routerLink="/" class="nav-link">Web Design</a>
      </li>
      <li class="nav-item">
        <a routerLink="animation" class="nav-link">Animation</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="photo" class="nav-link">Photo</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="technical-skills" class="nav-link">Technical Skills</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="experience" class="nav-link">Experience</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="contact" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</nav>
