@media (max-width: 575px) {
  .navbar-brand {
    img {
      width: 90px;
    }
  }
}

@media (min-width: 576px) {
  .navbar-brand {
    img {
      width: 100px;
    }
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    img {
      width: 114px;
    }
  }
}

@media (min-width: 1200px) {
  .navbar-brand {
    img {
      width: 130px;
    }
  }
}
