<section class="d-flex justify-content-between align-items-center header-section">
  <h1>
    web design
  </h1>

  <ng-select [items]="categories"
             bindLabel="name"
             bindValue="name"
             placeholder="Sort by"
             [clearable]="false"
             [(ngModel)]="selectedValue"
             (change)="onChange()"
             class="web-design-sort">

    <ng-template>
      <b>{{item.name}}</b>
    </ng-template>
  </ng-select>
</section>

<section>
  <div *ngIf="projectList.length; else loading"
       class="d-flex flex-wrap web-design-items-container">

    <app-web-design-item
      *ngFor="let project of projectList"
      [inputProject]="project">
    </app-web-design-item>
  </div>

  <ng-template #loading>LOADING WEB PROJECT</ng-template>
</section>
