@import "../../../scss/variables";

section.header-section {
  height: 6rem;

  h1 {
    text-transform: uppercase;
    font-weight: 200;
  }

  ng-select.web-design-sort {
    width: 13.13rem;
    margin: 0 2.43rem 0 0;


    &.focused:not(.opened) {
      .ng-control {
        border-color: $loblolly-blue;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      .ng-arrow-zone {
        border-color: $loblolly-blue;
      }
    }
    .ng-control {
      border-radius: 0.31rem;
      border: 0.063rem solid $gray-400;
      cursor: pointer;
      height: 2rem;
      overflow: visible;

      .ng-value-container {
        .ng-placeholder {
          color: $tiber-blue;
        }

        .ng-input {
          input {
            cursor: pointer;
          }
        }
      }
    }

    &.ng-single .ng-control .ng-value-container .ng-input {
      padding-right: 0.63rem;
    }

    &.opened.bottom > .ng-control {
      border-radius: 0.31rem;
    }

    .ng-arrow-zone {
      padding: 0.31rem 0 0 0.063rem;
      border-radius: 0.31rem;
      border: 0.063rem solid $gray-400;
      height: 2.25rem;
      margin: 0 -2.5rem 0 0;
      width: 2.19rem;

      .ng-arrow {
        border-color: $tiber-blue transparent transparent;
        border-width: 0.5rem 0.5rem 0.13rem;
        transition: all 0.3s;

        &:hover {
          border-color: $venice-blue transparent transparent;
        }
      }
    }

    .ng-select-dropdown-outer {
      width: 15.56rem;
      border-radius: 0.38rem;
      border: 0.063rem solid $gray-400;
      margin: 0.38rem 0 0 0;
      opacity: 0;
      height: 0.81rem;
      overflow: hidden;
      -webkit-transition: opacity 0.4s, height 0.4s;
      transition: opacity 0.4s, height 0.4s;

      .ng-select-dropdown {
        .ng-option.marked {
          color: $daintree-blue;
          background-color: $zircon-blue;
        }
        .ng-option.selected {
          color: $daintree-blue;
          background-color: $aqua-squeeze-blue;
        }
      }
    }

    &.opened > .ng-control .ng-arrow {
      border-color: $tiber-blue transparent transparent;
      border-width: 0.5rem 0.5rem 0.13rem;
      transform: rotate(180deg);

      &:hover {
        border-color: $venice-blue transparent transparent;
      }
    }

    &.opened > .ng-select-dropdown-outer {
      opacity: 1;
      height: 10.25rem;
    }
  }
}

div.web-design-items-container {
  margin:0 0 3.68rem 0;
}

.loader {
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  margin: 0 0.6rem 0 0;
  border-top: 0.2rem solid $iron-gray;
  border-right: 0.2rem solid $iron-gray;
  border-bottom: 0.2rem solid $iron-gray;
  border-left: 0.2rem solid $fiord-blue;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: loading 0.9s infinite linear;
  animation: loading 0.9s infinite linear;
}

.warning {
  height: 1.6rem;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 575px) {
  app-web-design-item {
    height: 6.81rem;
    width: 31.1%;
    margin: 0 3% 0.94rem 0;
  }

  app-web-design-item:nth-child(3n) {
    margin: 0 0 0.94rem 0;
  }
}

@media (min-width: 576px) {
  app-web-design-item {
    height: 7.69rem;
    width: 32%;
    margin: 0 2% 0.75rem 0;
  }

  app-web-design-item:nth-child(3n) {
    margin: 0 0 0.75rem 0;
  }
}

@media (min-width: 768px) {
  app-web-design-item,
  app-web-design-item:nth-child(3n) {
    width: 23.5%;
    height: 7.19rem;
    margin: 0 2% 0.94rem 0;
  }

  app-web-design-item:nth-child(4n) {
    margin: 0 0 0.94rem 0;
  }
}

@media (min-width: 992px) {
  app-web-design-item,
  app-web-design-item:nth-child(3n) {
    height: 10.31rem;
    width: 23.85%;
    margin: 0 1.5% 0.94rem 0;
  }

  app-web-design-item:nth-child(4n) {
    margin: 0 0 0.94rem 0;
  }
}

@media (min-width: 1200px) {
  app-web-design-item,
  app-web-design-item:nth-child(3n),
  app-web-design-item:nth-child(4n){
    height: 9.75rem;
    width: 18.8%;
    margin: 0 1.5% 1.13rem 0;
  }

  app-web-design-item:nth-child(5n) {
    margin: 0 0 1.13rem 0;
  }
}
