@import "../../../scss/variables";

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

section.header-section {
  height: 6rem;

  h1 {
    text-transform: uppercase;
    font-weight: 200;
  }

  ng-select.web-design-sort {
    width: 13.13rem;
    margin: 0 2.43rem 0 0;


    &.focused:not(.opened) {
      .ng-control {
        border-color: $loblolly-blue;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      .ng-arrow-zone {
        display: block;
        border-color: $loblolly-blue;
      }
    }

    .ng-control {
      border-radius: 0.31rem;
      border: 0.063rem solid $gray-400;
      cursor: pointer;
      height: 2rem;
      overflow: visible;

      .ng-value-container {
        .ng-placeholder {
          color: $tiber-blue;
        }

        .ng-input {
          input {
            cursor: pointer;
          }
        }
      }
    }

    &.ng-single .ng-control .ng-value-container .ng-input {
      padding-right: 0.63rem;
    }

    &.opened.bottom > .ng-control {
      border-radius: 0.31rem;
    }

    .ng-arrow-zone {
      padding: 0.31rem 0 0 0.063rem;
      border-radius: 0.31rem;
      border: 0.063rem solid $gray-400;
      height: 2.25rem;
      margin: 0 -2.5rem 0 0;
      width: 2.19rem;
      display: block;

      .ng-arrow {
        border-color: $tiber-blue transparent transparent;
        border-width: 0.5rem 0.5rem 0.13rem;
        transition: all 0.3s;

        &:hover {
          border-color: $venice-blue transparent transparent;
        }
      }
    }

    .ng-select-dropdown-outer {
      width: 15.56rem;
      border-radius: 0.38rem;
      border: 0.063rem solid $gray-400;
      margin: 0.38rem 0 0 0;
      opacity: 0;
      height: 0.81rem;
      overflow: hidden;
      -webkit-transition: opacity 0.4s, height 0.4s;
      transition: opacity 0.4s, height 0.4s;

      .ng-select-dropdown {
        .ng-option.marked {
          color: $daintree-blue;
          background-color: $zircon-blue;
        }
        .ng-option.selected {
          color: $daintree-blue;
          background-color: $aqua-squeeze-blue;
        }
      }
    }

    &.opened > .ng-control .ng-arrow {
      border-color: $tiber-blue transparent transparent;
      border-width: 0.5rem 0.5rem 0.13rem;
      transform: rotate(180deg);

      &:hover {
        border-color: $venice-blue transparent transparent;
      }
    }

    &.opened > .ng-select-dropdown-outer {
      opacity: 1;
      height: 10.25rem;
    }
  }
}

div.web-design-items-container {
  margin:0 0 3.68rem 0;
}

.carousel-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.94);
  width: 100vw;
  height: 100vh;
  -webkit-animation: fadein 0.2s ease-out forwards;
  animation: fadein 0.2s ease-out forwards;

  &.fade-out {
    -webkit-animation: fadeout 0.2s ease-in forwards;
    animation: fadeout 0.2s ease-in forwards;
  }

  ui-carousel {
    width: 100%;
    height: 100% !important;

    .ui-carousel-item {
      display: flex;
      flex-direction: column;
      background-color: transparent;
      padding: 0 5rem 4.2rem 4rem;

      img {
        margin: auto;
        max-width: 100%;
        max-height: 96%;
        height: auto;
      }

      .carousel-footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4.5rem;
        background-color: $black;
        color: $white;
        text-align: center;
        padding: 0.5rem 0 0.6rem 0;

        p:first-child {
          font-size: 1.2rem;
        }

        p:nth-child(2){
          font-weight: 200;
        }
      }
    }
  }

  .close-carousel {
    background-color: transparent;
    width: 2.18rem;
    height: 2.18rem;
    position: absolute;
    top: 1.2rem;
    right: 3rem;
    color: $gray-500;
    font-size: 2.25rem;
    font-weight: lighter;
    padding: 0;
    line-height: 1rem;
    font-family: "Segoe UI Light", Helvetica, Arial, sans-serif;

    &:hover {
      color: $gray-100;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

@media (max-width: 380px) {

  section.header-section {
    height: 6.5rem;
    flex-direction: column;
    padding: 0.3rem 0 1.1rem;

    h1 {
      font-size: 2rem;
      margin: 0 0 0.15rem 0;
    }

    ng-select.web-design-sort {
      width: 8.13rem;

      .ng-select-dropdown-outer {
        width: 10.56rem;
      }
    }
  }

  app-web-design-item {
    height: 4.88rem;
    width: 31.1%;
    margin: 0 3% 0.75rem 0;
  }

  app-web-design-item:nth-child(3n) {
    margin: 0 0 0.75rem 0;
  }
}

@media (min-width: 381px) and (max-width: 575px) {

  section.header-section {
    height: 6.5rem;
    flex-direction: column;
    padding: 0.2rem 0 1.1rem;

    h1 {
      font-size: 2.05rem;
      margin: 0 0 0.3rem 0;
    }

    ng-select.web-design-sort {
      width: 11.13rem;

      .ng-select-dropdown-outer {
        width: 13.56rem;
      }
    }
  }

  app-web-design-item {
    height: 6.5rem;
    width: 31.1%;
    margin: 0 3% 0.94rem 0;
  }

  app-web-design-item:nth-child(3n) {
    margin: 0 0 0.94rem 0;
  }

  .carousel-container ui-carousel .ui-carousel-item {
    padding: 0 3rem 4.2rem 1.7rem;
  }

  .carousel-container ui-carousel .arrow.left {
    left: 36%;
    top: 76%;
  }

  .carousel-container ui-carousel .arrow.right {
    right: 36%;
    top: 76%;
  }

  arrow .arrow {
    height: 45px !important;

    &::before {
      width: 22px !important;
    }

    &::after {
      width: 22px !important;
    }
  }

  // CCS hack for ie 10 & 11
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .carousel-container ui-carousel .ui-carousel-item img {
      width: 95%;
      flex-shrink: 0;
    }
  }

  // CCS hack for edge
  @supports (-ms-ime-align:auto) {
    .carousel-container ui-carousel .ui-carousel-item img {
      flex-shrink: 0;
      width: 95%;
    }
  }
}

@media (min-width: 576px) {
  app-web-design-item {
    height: 7.69rem;
    width: 32%;
    margin: 0 2% 0.75rem 0;
  }

  app-web-design-item:nth-child(3n) {
    margin: 0 0 0.75rem 0;
  }

  .carousel-container ui-carousel .arrow.left {
    left: 0.6rem;
  }

  .carousel-container ui-carousel .arrow.right {
    right: 1.8rem;
  }

  arrow .arrow {
    height: 45px !important;

    &::before {
      width: 22px !important;
    }

    &::after {
      width: 22px !important;
    }
  }

  // CCS hack for ie 10 & 11
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .carousel-container ui-carousel .ui-carousel-item img {
      width: 90%;
      flex-shrink: 0;
    }
  }

  // CCS hack for edge
  @supports (-ms-ime-align:auto) {
    .carousel-container ui-carousel .ui-carousel-item img {
      flex-shrink: 0;
      width: 90%;
    }
  }
}

@media (min-width: 768px) {
  app-web-design-item,
  app-web-design-item:nth-child(3n) {
    width: 23.5%;
    height: 7.19rem;
    margin: 0 2% 0.94rem 0;
  }

  app-web-design-item:nth-child(4n) {
    margin: 0 0 0.94rem 0;
  }

  .carousel-container ui-carousel .arrow.left {
    left: 1rem;
  }

  .carousel-container ui-carousel .arrow.right {
    right: 1.8rem;
  }

  arrow .arrow {
    height: 47px !important;

    &::before {
      width: 25px !important;
    }

    &::after {
      width: 25px !important;
    }
  }
}

@media (min-width: 992px) {
  app-web-design-item,
  app-web-design-item:nth-child(3n) {
    height: 10.31rem;
    width: 23.85%;
    margin: 0 1.5% 0.94rem 0;
  }

  app-web-design-item:nth-child(4n) {
    margin: 0 0 0.94rem 0;
  }

  .carousel-container ui-carousel .arrow.left {
    left: 1.25rem;
  }

  .carousel-container ui-carousel .arrow.right {
    right: 2.2rem;
  }

  arrow .arrow {
    height: 50px !important;

    &::before {
      width: 30px !important;
    }

    &::after {
      width: 30px !important;
    }
  }

  // CCS hack for ie 10 & 11
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .carousel-container ui-carousel .ui-carousel-item img {
      width: 85%;
    }
  }

  // CCS hack for edge
  @supports (-ms-ime-align:auto) {
    .carousel-container ui-carousel .ui-carousel-item img {
      width: 85%;
    }
  }
}

@media (min-width: 1200px) {
  app-web-design-item,
  app-web-design-item:nth-child(3n),
  app-web-design-item:nth-child(4n){
    height: 9.75rem;
    width: 18.8%;
    margin: 0 1.5% 1.13rem 0;
  }

  app-web-design-item:nth-child(5n) {
    margin: 0 0 1.13rem 0;
  }

  // CCS hack for ie 10 & 11
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .carousel-container ui-carousel .ui-carousel-item img {
      width: 65%;
    }
  }

  // CCS hack for edge
  @supports (-ms-ime-align:auto) {
    .carousel-container ui-carousel .ui-carousel-item img {
      width: 65%;
    }
  }
}

@media (min-width: 1650px) {
  // CCS hack for ie 10 & 11
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .carousel-container ui-carousel .ui-carousel-item img {
      width: 50%;
    }
  }

  // CCS hack for edge
  @supports (-ms-ime-align:auto) {
    .carousel-container ui-carousel .ui-carousel-item img {
      width: 50%;
    }
  }
}
