@import "../../../scss/variables";

h1 {
  height: 6rem;
  text-transform: uppercase;
  font-weight: 200;
  padding: 1.38rem 0 0 0;
}

section.animation-items-container {
  margin:0 0 3.68rem 0;
}

@media (max-width: 380px) {

  h1 {
    font-size: 2rem;
    margin: 0 0 0.15rem 0;
  }

  .item-project-container {
    height: 4.88rem;
    width: 31.1%;
    margin: 0 3% 0.75rem 0;
  }

  .item-project-container:nth-child(3n) {
    margin: 0 0 0.75rem 0;
  }
}

@media (min-width: 381px) and (max-width: 575px) {

    h1 {
      font-size: 2.05rem;
      margin: 0 0 0.3rem 0;
    }

  .item-project-container {
    height: 6.5rem;
    width: 31.1%;
    margin: 0 3% 0.94rem 0;
  }

  .item-project-container:nth-child(3n) {
    margin: 0 0 0.94rem 0;
  }
}

@media (min-width: 576px) {
  .item-project-container {
    height: 7.69rem;
    width: 32%;
    margin: 0 2% 0.75rem 0;
  }

  .item-project-container:nth-child(3n) {
    margin: 0 0 0.75rem 0;
  }
}

@media (min-width: 768px) {
  .item-project-container,
  .item-project-container:nth-child(3n) {
    width: 23.5%;
    height: 7.19rem;
    margin: 0 2% 0.94rem 0;
  }

  .item-project-container:nth-child(4n) {
    margin: 0 0 0.94rem 0;
  }
}

@media (min-width: 992px) {
  .item-project-container,
  .item-project-container:nth-child(3n) {
    height: 10.31rem;
    width: 23.85%;
    margin: 0 1.5% 0.94rem 0;
  }

  .item-project-container:nth-child(4n) {
    margin: 0 0 0.94rem 0;
  }
}

@media (min-width: 1200px) {
  .item-project-container,
  .item-project-container:nth-child(3n) {
    height: 11.625rem;
    width: 16.75rem;
    margin: 0 0.75rem 0.75rem 0;
  }

  .item-project-container:nth-child(4n) {
    margin: 0 0 0.75rem 0;
  }
}
