@import "../../../scss/variables";

h1 {
  height: 6rem;
  text-transform: uppercase;
  font-weight: 200;
  padding: 1.38rem 0 0 0;
}

section.animation-items-container {
  margin:0 0 3.68rem 0;

  .item-project-container {
    cursor: pointer;
    overflow: hidden;
    color: $white;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;

    .overlay {
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: $black;
      position: absolute;
      @include transition(opacity);
    }

    .project-title {
      position: relative;
      padding: 0.94rem 0.81rem 0 0.81rem;
      opacity: 0;
      @include transition(opacity, 0.15s);
    }

    .project-date {
      position: relative;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0.1rem 0 0 0.81rem;
      opacity: 0;
      @include transition(opacity, 0.15s);
    }

    .zoom-in {
      opacity: 0;
      position: absolute;
      width: 0.063rem;
      height: 0.063rem;
      right: 0.69rem;
      bottom: 0.56rem;
    }

    .triangle-bottomright {
      width: 0;
      height: 0;
      border-left: 4.94rem solid transparent;
      border-bottom: 4.13rem solid transparent;
      position: absolute;
      right: -4.94rem;
      bottom: 0;
      @include transition(right);
    }

    .trianglerouge {
      border-bottom-color: $red;
    }

    .trianglegris {
      border-bottom-color: $gray-700;
    }

    .triangleblanc {
      border-bottom-color: $gray-600;
    }

    .trianglebleu {
      border-bottom-color: $blue;
    }

    .trianglevert {
      border-bottom-color: $green;
    }

    .triangleorange {
      border-bottom-color:$orange;
    }

    .trianglerose {
      border-bottom-color: $pink;
    }

    .trianglebrun {
      border-bottom-color: $brown;
    }

    .trianglemauve {
      border-bottom-color: $purple;
    }

    &:hover {
      .overlay {
        opacity: 0.8;
      }

      .project-title {
        opacity: 1;
      }

      .project-date {
        opacity: 1;
      }

      .triangle-bottomright {
        right: 0;
      }

      .zoom-in {
        opacity: 1;
        width: 1.5rem;
        height: 1.56rem;
        @include transition(all, 0.2s, ease-in-out, 0.1s);
      }
    }
  }
}

@media (max-width: 380px) {

  h1 {
    font-size: 2rem;
    margin: 0 0 0.15rem 0;
  }

  .item-project-container {
    height: 4.88rem;
    width: 31.1%;
    margin: 0 3% 0.75rem 0;
  }

  .item-project-container:nth-child(3n) {
    margin: 0 0 0.75rem 0;
  }
}

@media (min-width: 381px) and (max-width: 575px) {

    h1 {
      font-size: 2.05rem;
      margin: 0 0 0.3rem 0;
    }

  .item-project-container {
    height: 6.5rem;
    width: 31.1%;
    margin: 0 3% 0.94rem 0;
  }

  .item-project-container:nth-child(3n) {
    margin: 0 0 0.94rem 0;
  }
}

@media (min-width: 576px) {
  .item-project-container {
    height: 7.69rem;
    width: 32%;
    margin: 0 2% 0.75rem 0;
  }

  .item-project-container:nth-child(3n) {
    margin: 0 0 0.75rem 0;
  }
}

@media (min-width: 768px) {
  .item-project-container,
  .item-project-container:nth-child(3n) {
    width: 23.5%;
    height: 7.19rem;
    margin: 0 2% 0.94rem 0;
  }

  .item-project-container:nth-child(4n) {
    margin: 0 0 0.94rem 0;
  }
}

@media (min-width: 992px) {
  .item-project-container,
  .item-project-container:nth-child(3n) {
    height: 10.31rem;
    width: 23.85%;
    margin: 0 1.5% 0.94rem 0;
  }

  .item-project-container:nth-child(4n) {
    margin: 0 0 0.94rem 0;
  }
}

@media (min-width: 1200px) {
  .item-project-container,
  .item-project-container:nth-child(3n) {
    height: 11.625rem;
    width: 16.75rem;
    margin: 0 0.75rem 0.75rem 0;
  }

  .item-project-container:nth-child(4n) {
    margin: 0 0 0.75rem 0;
  }
}
