<h1>
  animation
</h1>

<section class="d-flex flex-wrap animation-items-container">
  <div *ngFor="let project of animationProjets; let i = index"
       [ngStyle]="{'background-image': 'url(../../assets/img/animation/' + project.imageUrl + '.jpg)'}"
       (click)="openCarousel(i)"
       class="item-project-container">
    <div class="overlay"></div>
    <p class="project-title bold">{{project.title}}</p>
    <p class="project-date">{{project.date}}</p>
    <div [ngClass]="'triangle' + project.color"
         class="triangle-bottomright">
    </div>
    <img src="../../assets/img/zoom.svg" class="zoom-in">
  </div>
</section>

<section *ngIf="isCarouselVisible"
         class="carousel-container"
         [ngClass]="{'fade-out': isCarouselHidden}">
  <ui-carousel [infinite]="true"
               [autoPlay]="false"
               [autoPlaySpeed]="5000"
               [fade]="false"
               [speed]="740"
               [dots] = "false">

    <ui-carousel-item *ngFor="let project of carouselArray;">
      <video controls
             [poster]="'/assets/img/animation/' + project.imageUrl + '-video.jpg'"
             [style.max-width.px]="project.width">
        <source
          [src]="'/assets/img/animation/' + project.imageUrl + lowRes + '.mp4'"
          type="video/mp4">
        <source
          [src]="'C:/assets/img/animation/' + project.imageUrl + lowRes +'.ogv'"
          type="video/ogg">
        Your browser doesn't support HTML5 video tag.
      </video>
      <div class="carousel-footer">
        <p>{{project.title}}</p>
        <p>{{project.date}}</p>
      </div>
    </ui-carousel-item>
  </ui-carousel>

  <button type="button"
          class="btn close-carousel"
          (click)="closeCarousel()">
    X
  </button>
</section>
