:root {
  --pure-white: #ffffff;
  --iron-gray: #dbdedf;
  --zircon-blue: #f0f6ff;
  --zircon-blue-200: #fafcff;
  --zircon-blue-20: #e6f0ff;
  --aqua-squeeze-blue: #e2f1ee;
  --geyser-blue: #dee2e6;
  --ghost-blue: #ced4da;
  --loblolly-app-header-navblue: #bdcad1;
  --loblolly-blue: #bdcad1;
  --loblolly-blue-500: #aebec7;
  --loblolly-blue-1000: #9fb2bc;
  --loblolly-blue-1200: #99adb8;
  --oslo-gray: #8C9097;
  --gray: #909090;
  --fiord-blue-800: #5e6163;
  --fiord-blue: #425b6a;
  --fiord-blue-1100: #58798d;
  --fiord-blue-1800: #678ba1;
  --venice-blue: #07647e;
  --tiber-blue: #042b36;
  --daintree-blue: #011f27;
  --shark-blue: #212529;
  --shark-blue-1000: #383e45;
  --woodsmoke-grey: #111113;
  --logo: var(--pure-white);
  --header-section: var(--shark-blue);
  --drop-down-bg: var(--pure-white);
  --drop-down-text: var(--shark-blue);
  --error-card: var(--pure-white);
  --error-card-msg: var(--shark-blue);
  --inner-loading: var(--fiord-blue);
  --outter-loading: var(--iron-gray);
  --radio-label: var(--shark-blue);
  --btn-bg-hover: var(--zircon-blue-20);
  --bg-input: var(--pure-white);
  --border-input: var(--loblolly-blue);
  --btn-disabled-border: var(--loblolly-blue-1000);
  --toggle-switch-bg: var(--gray);

  &.dark-theme {
    --pure-white: #191919;
    --iron-gray: #b0b0b0;
    --zircon-blue: #2e2e2e;
    --zircon-blue-20: var(--zircon-blue);
    --zircon-blue-200: var(--drop-down-bg);
    --aqua-squeeze-blue: #3d3d3d;
    --geyser-blue: var(--ghost-blue);
    --ghost-blue: #424242;
    --loblolly-blue: var(--ghost-blue);
    --loblolly-blue-500: var(--ghost-blue);
    --loblolly-blue-1200: #646464;
    --oslo-gray: #ffffff;
    --fiord-blue-800: var(--loblolly-blue-1200);
    --fiord-blue-1100: #505050;
    --fiord-blue-1800: var(--loblolly-blue-1200);
    --tiber-blue: var(--oslo-gray);
    --daintree-blue: var(--oslo-gray);
    --shark-blue: #2a2a2a;
    --shark-blue-1000: var(--oslo-gray);
    --logo: #fbc902;
    --header-section: var(--logo);
    --drop-down-bg: #242424;
    --drop-down-text: #9e9e9e;
    --error-card: #292929;
    --error-card-msg: #eeeeee;
    --inner-loading: var(--logo);
    --outter-loading: var(--ghost-blue);
    --radio-label: var(--drop-down-text);
    --btn-bg-hover: #3c3c3c;
    --bg-input: var(--shark-blue);
    --border-input: var(--ghost-blue);
    --btn-disabled-border: var(--loblolly-blue-1200);
    --toggle-switch-bg: var(--error-card-msg);
  }
}
