@import "../scss/variables";

p {
  margin: 0;
}

h1 {
  color: var(--header-section);
}

.navbar {
  background-color: var(--shark-blue);

  .nav-link {
    color: var(--oslo-gray);

    &:hover {
      color: var(--iron-gray);
    }
  }

  .nav-item {
    &.active{
      .nav-link {
        color: var(--logo);
      }
    }
  }
}

.error-card {
  background-color: var(--error-card);
  color: var(--error-card-msg);
}

button.btn-light {
  background-color: var(--zircon-blue-200);
  border-color: var(--loblolly-blue);
  color: var(--radio-label);

  &:hover {
    background-color: var(--btn-bg-hover);
    border-color: var(--loblolly-blue-500);
    color: var(--error-card-msg);
  }

  &:focus {
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled):active {
    background-color: var(--btn-bg-hover);
    border-color: var(--loblolly-blue-1200);
    color: var(--error-card-msg);
    outline: none;

    &:focus {
      box-shadow: none;
    }
  }
}

@keyframes loading {
  0% {
    @include transformation(rotate, 0deg);
  }
  100% {
    @include transformation(rotate, 360deg);
  }
}

.loader {
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  margin: 0 0.6rem 0 0;
  border-top: 0.2rem solid var(--outter-loading);
  border-right: 0.2rem solid var(--outter-loading);
  border-bottom: 0.2rem solid var(--outter-loading);
  border-left: 0.2rem solid var(--inner-loading);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: loading 0.9s infinite linear;
  animation: loading 0.9s infinite linear;
}

.loader-msg {
  color: var(--drop-down-text);
}

.warning {
  height: 1.6rem;
}

@media (min-width: 768px) {
  .nav-link {
    font-size: 0.84rem;
  }
}

@media (min-width: 992px) {
  .nav-link {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .nav-link {
    font-size: 1.1rem;
  }
}
