@import "../scss/variables";

p {
  margin: 0;
}

button.btn-light {
  background-color: lighten($zircon-blue, 2%);
  border-color: $loblolly-blue;

  &:hover {
    background-color: lighten($zircon-blue, 4%);
    border-color: darken($loblolly-blue, 5%);
  }
}

@media (min-width: 768px) {
  .nav-link {
    font-size: 0.84rem;
  }
}

@media (min-width: 992px) {
  .nav-link {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .nav-link {
    font-size: 1.1rem;
  }
}
