@import "../../../../scss/variables";

:host {
  display: block;
  cursor: pointer;
  overflow: hidden;
  color: $white;
  text-transform: uppercase;
  font-weight: 500;

  .item-container {
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;

    .triangle-bottomright {
      width: 0;
      height: 0;
      border-left: 4.94rem solid transparent;
      border-bottom: 4.13rem solid transparent;
      position: absolute;
      right: -4.94rem;
      bottom: 0;
      @include transition(right);
    }

    .trianglerouge {
      border-bottom-color: $red;
    }

    .trianglegris {
      border-bottom-color: $gray-700;
    }

    .triangleblanc {
      border-bottom-color: $gray-600;
    }

    .trianglebleu {
      border-bottom-color: $blue;
    }

    .triangleorange {
      border-bottom-color:$orange;
    }

    .trianglerose {
      border-bottom-color: $pink;
    }

    .trianglevert {
      border-bottom-color: $green;
    }

    .trianglebrun {
      border-bottom-color: $brown;
    }

    .trianglejaune {
      border-bottom-color: $yellow;
    }

    .trianglemauve {
      border-bottom-color: $purple;
    }

    .overlay {
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: $black;
      position: absolute;
      @include transition(opacity);
    }

    .project-title {
      position: relative;
      padding: 0.94rem 0.81rem 0 0.81rem;
      opacity: 0;
      @include transition(opacity, 0.15s);
    }

    .project-date {
      position: relative;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0.1rem 0 0 0.81rem;
      opacity: 0;
      @include transition(opacity, 0.15s);
    }

    .zoom-in {
      opacity: 0;
      position: absolute;
      width: 0.063rem;
      height: 0.063rem;
      right: 0.69rem;
      bottom: 0.56rem;
    }

    &:hover {
      .overlay {
        opacity: 0.8;
      }

      .project-title {
        opacity: 1;
      }

      .project-date {
        opacity: 1;
      }

      .triangle-bottomright {
        right: 0;
      }

      .zoom-in {
        opacity: 1;
        width: 1.5rem;
        height: 1.56rem;
        @include transition(all, 0.2s, ease-in-out, 0.1s);
      }
    }
  }
}

@media (max-width: 380px) {
  :host {
    font-size: 0.7rem;

    .item-container {
      .project-title {
        padding: 0.3rem 0.4rem 0 0.4rem;
      }

      .project-date {
        margin: 0 0 0 0.4rem;
      }

      .triangle-bottomright {
        border-left-width: 2.8rem;
        border-bottom-width: 2.4rem;
        right: -2.8rem;
      }

      .zoom-in {
        right: 0.22rem;
        bottom: 0.22rem;
      }

      &:hover {
        .zoom-in {
          width: 1.1rem;
          height: 0.95rem;
        }
      }
    }
  }
}

@media (min-width: 381px) and (max-width: 575px) {
  :host {
    font-size: 0.8rem;

    .item-container {
      .project-title {
        padding: 0.4rem 0.81rem 0 0.5rem;
      }

      .project-date {
        margin: 0.13rem 0 0 0.5rem;
      }

      .triangle-bottomright {
        border-left-width: 3.3rem;
        border-bottom-width: 2.8rem;
        right: -3.3rem;
      }

      .zoom-in {
        right: 0.3rem;
        bottom: 0.3rem;
      }

      &:hover {
        .zoom-in {
          width: 1.25rem;
          height: 1.15rem;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  :host {
    font-size: 0.9rem;
    .item-container {
      .project-title {
        padding: 0.5rem 0.81rem 0 0.7rem;
      }
    }
  }
}

@media (min-width: 768px) {
  :host {
    font-size: 0.9rem;
    .item-container {
      .triangle-bottomright {
        border-left-width: 3.8rem;
        border-bottom-width: 3.3rem;
        right: -3.8rem;
      }

      .zoom-in {
        right: 0.32rem;
        bottom: 0.32rem;
      }

      &:hover {
        .zoom-in {
          width: 1.42rem;
          height: 1.33rem;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  :host {
    font-size: 1.063rem;

    .item-container {
      .triangle-bottomright {
        border-left-width: 5.15rem;
        border-bottom-width: 4.46rem;
        right: -5.15rem;
      }

      .zoom-in {
        right: 0.55rem;
        bottom: 0.55rem;
      }

      &:hover {
        .zoom-in {
          width: 1.8rem;
          height: 1.68rem;
        }
      }
    }
  }
}

